@CHARSET "ISO-8859-1";

.header {
	background: -o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5656
		), color-stop(1, #7f0000));
	background: -moz-linear-gradient(center top, #ff5656 5%, #7f0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656",
		endColorstr="#7f0000");
	background: -o-linear-gradient(top, #ff5656, 7f0000);
	background-color: #ff5656;
	width: 100%;
}

.header>div:first-child {
	margin-left: 10px;
	font-size: 30px;
	font-weight: bold;
	display: inline-flex;
	justify-content: flex-start;
	width: 48%;
}

.header>div:last-child {
	display: inline-flex;
	justify-content: flex-end;
	width: 50%;
}

.header p {
	color: #FFFFFF;
}

#passengerTicket {
	width: 60%;
	margin: 10px auto;
	border: 2px solid Black;
}

h3,h2 {
	margin-top: 6%;
	text-align: center;
}

#header {
	border-bottom: 2px solid Black;
	text-align: center;
}

#header p {
	padding: 0px;
	font-size: 1.5em;
	margin-bottom: 5px;
}

.ticketDetails {
	margin-left: 50px;
	text-align: left;
	font-weight: Bold;
}

#dateOfIssue {
	margin-right: 50px;
	clear: left;
	text-align: right;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 90%;
	margin-bottom: 5px;
}

.tableHeader {
	border-bottom: 1px solid Black;
}

th,td {
	text-align: center;
	padding: 5px;
}

.flightDetails {
	border: 1px Solid Black;
	margin: 10px 10px;
}

#print{
	
	margin:10px auto;
	width: 100px;
	height: 35px;
	font-size: 1em;
	font-weight: bold;
	border: 1px solid Black;
	background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );	
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	
	background: -o-linear-gradient(top,#ff5656,7f0000);
	background-color:#ff5656;
	color: #FFF;
}

#print:hover {
	cursor: pointer;
	background:-o-linear-gradient(bottom, #7f0000 5%, #ff5656 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0000), color-stop(1, #ff5656) );	
	background:-moz-linear-gradient( center top, #7f0000 5%, #ff5656 100% );	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f0000", endColorstr="#ff5656");	
	background: -o-linear-gradient(top,#7f0000,#ff5656);
	background-color:#7f0000;
	color:#FFF;
}

@media print {
	body * {
		visibility: hidden;
	}
	
	#passengerTicket,#passengerTicket * {
		visibility: visible;
	}
	
	#passengerTicket {
		width: 100%; margin : 10px auto;
		position: absolute;
		left: 0;
		top: 0;
		margin: 10px auto;
	}
}

.footer{
	text-align:center;
	margin-bottom:20px;
}

